<div class="contact">
  <h2>Contact</h2>
  <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Service</th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <td>herkko.mehtala@outlook.com</td>
          <td>Email</td>
        </tr>
        <tr>
          <td>@xbreak:pikaviestin.fi</td>
          <td>Matrix</td>
        </tr>
        <tr>
          <td><a href="https://infosec.exchange/@xbreak">xbreak</a></td>
          <td><a href="https://infosec.exchange/">Infosec Exchange (Mastodon)</a></td>
        </tr>
        <tr>
          <td><a href="https://github.com/Herkkomehtala">Herkko Mehtälä</a></td>
          <td><a href="https://github.com/">GitHub</a></td>
        </tr>
        </tbody>
    </table>
</div>
